@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

main article section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5rem 0rem 0 0;
}

.bannerGrande {
  padding-left: 1.2rem;
  padding-bottom: 1rem;
}

.gridNosotros {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  grid-template-areas: "textoGrande textoChico" "banner banner";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
}
.gridNosotros .gridTexto .textoLargo {
  grid-area: textoGrande;
}
.gridNosotros .gridTexto .textoLargo .gridTexto .textoCorto {
  grid-area: textoChico;
}
.gridNosotros .gridTexto .textoLargo .gridTexto .textoCorto .contenedorBannerGrande .BannerGrande {
  grid-area: banner;
}

.textoCorto {
  padding-left: 5rem;
}

* {
  font-family: "Mukta", sans-serif;
}

.textoCorto {
  font-size: 30px;
  color: white;
}

.textoLargo {
  font-size: 20px;
  padding-right: 1.3rem;
  color: white;
}

.mainNosotros {
  background-color: #FBAB7E;
  background-image: -webkit-gradient(linear, left top, right top, from(#394867), to(#8294C4));
  background-image: linear-gradient(to right, #394867 0%, #8294C4 100%);
}

.mainServicios {
  background-color: #FBAB7E;
  background-image: -webkit-gradient(linear, left top, right top, from(#394867), to(#8294C4));
  background-image: linear-gradient(to right, #394867 0%, #8294C4 100%);
}

.p-color {
  color: black;
}

.card {
  margin: 1rem 1rem 1rem 1rem;
  width: 10rem;
}

.mainServicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.joystick {
  width: 20rem;
  height: 17.9rem;
}

.celu {
  width: 20rem;
  height: 17.9rem;
}

.pin {
  width: 20rem;
  height: 17.9rem;
}

.herramientas {
  width: 20rem;
  height: 17.9rem;
}

.negocio {
  width: 20rem;
  height: 17.9rem;
}

.mercado {
  width: 20rem;
  height: 17.9rem;
}

.provedores {
  width: 20rem;
  height: 17.9rem;
}

.grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas: "lista contenido1 contenido2 contenido3 contenido4" "publicidad contenido5 contenido6 contenido7 contenido8" "publicidad contenido9 contenido10 contenido11 contenido12";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.grid .listaGrid {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  grid-area: lista;
}

.grid .imagenGrid {
  grid-area: publicidad;
}

.grid .imagen1 {
  grid-area: contenido1;
}

.grid .imagen2 {
  grid-area: contenido2;
}

.grid .imagen3 {
  grid-area: contenido3;
}

.grid .imagen4 {
  grid-area: contenido4;
}

.grid .imagen5 {
  grid-area: contenido5;
  position: absolute;
  left: 19rem;
  bottom: 3.7rem;
}

.grid .imagen6 {
  grid-area: contenido6;
  position: absolute;
  bottom: 3.7rem;
  left: 34.8rem;
}

.grid .imagen7 {
  grid-area: contenido7;
  position: absolute;
  bottom: 3.7rem;
  right: 18.8rem;
}

.grid .imagen8 {
  grid-area: contenido8;
  position: absolute;
  bottom: 3.7rem;
  right: 3.1rem;
}

.grid .imagen9 {
  grid-area: contenido9;
}

.grid .imagen10 {
  grid-area: contenido10;
}

.grid .imagen11 {
  grid-area: contenido11;
}

.grid .imagen12 {
  grid-area: contenido12;
}

.foto {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  overflow-x: hidden;
}

main div p {
  font-family: "Mukta", sans-serif;
  font-size: 1.3rem;
  color: white;
}

.contenedor__imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
}

.banner {
  border: solid rgb(83, 83, 83);
  border-radius: 50%;
  width: 15rem;
  height: 230px;
}

.contenedor__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 2rem;
}

.h4__fotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nombres__1 {
  padding-left: 17.8rem;
}

.nombres__2 {
  padding-right: 1rem;
}

.nombres__3 {
  padding-right: 17.8rem;
}

.parrafo {
  padding: 2rem;
}

.img__finalPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 3rem 3rem 5rem;
}

.twitter {
  width: 50px;
  height: 50px;
}

.facebook {
  width: 50px;
  height: 50px;
}

.instagram {
  width: 50px;
  height: 50px;
}

.banner:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.contenedor {
  background-color: #FBAB7E;
  background-image: -webkit-gradient(linear, left top, right top, from(#394867), to(#8294C4));
  background-image: linear-gradient(to right, #394867 0%, #8294C4 100%);
}

div section img {
  border: solid black 1px;
  border-radius: 50%;
}

/* --------------FOOTER------------------------------ */
footer nav div p {
  padding-left: 68rem;
  width: 35%;
  display: inline;
}

footer {
  background-color: #ECF2FF;
  padding-top: 1.7rem;
}

.ul__footer li {
  display: inline;
  padding: 1rem;
  margin-top: 10rem;
}

.ul__footer {
  list-style-type: none;
}

footer nav ul li a {
  color: rgb(0, 0, 0);
  font-family: "Hind", sans-serif;
  text-decoration: none;
}

footer div p {
  color: rgb(0, 0, 0);
}

/* ----------------------   CONTACTO ---------------- */
.main {
  background-image: -webkit-gradient(linear, right top, left top, from(#ACB1D6), to(#8294C4));
  background-image: linear-gradient(to left, #ACB1D6 0%, #8294C4 100%);
}

.grid__contacto {
  display: grid;
  grid-template-columns: 30% 55% 15%;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas: "imagenContacto  parrafoContacto  ..." "imagenContacto formulario aguscell" "... Boton ...";
}

.grid__contacto .grid__contacto--imagen {
  grid-area: imagenContacto;
  margin: 1.5rem;
}

.grid__contacto .grid__contacto--parrafo {
  grid-area: parrafoContacto;
  margin-top: 1rem;
  font-family: "Mukta", sans-serif;
  font-size: 1.4rem;
  color: white;
}

.grid__contacto .grid__contacto--form {
  grid-area: formulario;
}

.main {
  padding: 5rem;
}

form label {
  margin: 0.5rem;
}

.boton {
  margin-top: 1rem;
  margin-left: 1.6rem;
  border-radius: 5px;
}

.grid__contacto .aguscell__img {
  grid-area: aguscell;
  border-radius: 50%;
  position: absolute;
  right: 4.5rem;
  top: 34rem;
  width: 13%;
}

.aguscell__img:hover {
  -webkit-animation: bounce;
          animation: bounce;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Nosotros */
/* MEDIA QUERY INDEX */
@media screen and (max-width: 425px) {
  .banner {
    height: 1%;
    width: 40%;
  }
  footer {
    width: 135vh;
  }
  nav {
    width: 124vh;
  }
  .contenedor {
    width: 135vh;
  }
  .nombres__1 {
    position: absolute;
    right: 15.5rem;
  }
  .nombres__2 {
    position: absolute;
  }
  .nombres__3 {
    position: absolute;
    left: 31rem;
  }
}