.card{
    margin: 1rem 1rem 1rem 1rem;
    width: 10rem;
}


.mainServicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.joystick{
    width: 20rem;
    height: 17.9rem;
}

.celu{
    width: 20rem;
    height: 17.9rem;
}

.pin{
    width: 20rem;
    height: 17.9rem;
}

.herramientas{
    width: 20rem;
    height: 17.9rem;
}

.negocio{
    width: 20rem;
    height: 17.9rem;
}

.mercado{
    width: 20rem;
    height: 17.9rem;
}

.provedores{
    width: 20rem;
    height: 17.9rem;
}


