main{
    article{
        section{
            display: flex;
            justify-content: space-around;
            padding: 5rem 0rem 0 0
        }
    }
}

.bannerGrande{
    padding-left: 1.2rem;
    padding-bottom: 1rem;
}
